<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zfwl.zhengfeishop">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".activity.AmendNicknameActivity"></activity>
        <activity android:name=".activity.StoreDetailsActivity" />
        <activity android:name=".activity.AccountSetActivity" />
        <activity android:name=".activity.AmendpassDetailsActivity" />
        <activity android:name=".activity.AmendPasswordActivity" />
        <activity android:name=".activity.SignDetailsActivity" />
        <activity android:name=".activity.SignActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.ContactActivity" />
        <activity android:name=".activity.MyMessagesActivity" />
        <activity android:name=".activity.StoreActivity" />
        <activity android:name=".activity.CollectPostActivity" />
        <activity android:name=".activity.SiteMyActivity" />
        <activity android:name=".activity.SiteActivity" />
        <activity android:name=".activity.OrderFormDetailsActivity" />
        <activity android:name=".activity.RefundDetailsActivity" />
        <activity android:name=".activity.RefundActivity" />
        <activity android:name=".activity.CouponsActivity" />
        <activity android:name=".activity.IntegralActivity" />
        <activity android:name=".activity.OrderFormActivity" />
        <activity android:name=".activity.UserMessageActivity" />
        <activity android:name=".activity.SetMyActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.ClassifyDetailsActivity" />
        <activity android:name=".activity.TimeLimitActivity" />
        <activity android:name=".activity.IntegralShopActivity" />
        <activity android:name=".activity.LeadTroopsActivity" />
        <activity android:name=".activity.RankingListActivity" />
        <activity android:name=".activity.GroupBookingActivity" />
        <activity android:name=".activity.ThisSupermarketActivity" />
        <activity android:name=".activity.ThisLocalityCostumeActivity" />
        <activity android:name=".activity.ThisLocalityFreshActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>